TELEGRAM_BOT_TOKEN=""
TELEGRAM_BOT_USERNAME=""

ALLOWED_TELEGRAM_USER_IDS=*
ADMIN_USER_IDS=ADMIN_1_USER_ID,ADMIN_2_USER_ID
BOT_LANGUAGE="ru"

CHAT_ID=""

# accounts
HAMSTER_TOKEN_1=""
HAMSTER_TOKEN_2=""


